<?xml version="1.0" encoding="UTF-8" ?>
<BoxConfig>
  <Boxes>
    <Box>box1</Box>
    <Box>box2</Box>
    <Box>box3</Box>
    <Box>box4</Box>
    <Box>box5</Box>
  </Boxes>
  <Packages>
    <Package>
      <Box>box1</Box>
      <Children>
        <Child>box2</Child>
        <Child>box5</Child>
      </Children>
    </Package>
    <Package>
      <Box>box2</Box>
      <Children>
        <Child>box3</Child>
        <Child>box4</Child>
      </Children>
    </Package>
  </Packages>
</BoxConfig>